---
layout: default
---
<article>

  <div>
    {{ content }}
  
      <div style="border: 1px solid #9e9e9e; border-radius: 8px; padding: 8px; background: #BDBDBD;">
        <h3 style="display: inline">Enjoy the content on this site?&nbsp;&nbsp;</h3><div style="float: right"><script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Buy Me a Coffee', '#424242', 'R5R8KYI9');kofiwidget2.draw();</script></div><div style="clear: both"></div>
    </div><br />
  </div>
  
  {% if page.comments_enabled == true %}
  <div id="disqus_thread"></div>
    <script>
      /**
          *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES                  FROM YOUR PLATFORM OR CMS.
          *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
          */
      var disqus_config = function () {
          this.page.url = window.location.href,  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = '{{ page.url }}' // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://richards-projects.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
  {% endif %}
  
</article>
